.item-img {
    height: 400px;
    width: 90vw;
    margin: auto;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.carousel-card-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.item-content a {
    position: absolute;
    text-transform: capitalize;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 4px;
    
}

.item-content a h4 {
    margin: 0;
   color: white;
   font-weight: 600;
   font-size: 35px;
}

.carousel-card-buttons {
    margin: 10px 0;
}

.carousel-card-buttons button {
    margin: 0 5px;
}

.carousel-card-buttons button img {
    width: 17px;
    height: 17px !important;
}

@media screen and (min-width: 700px) {
    .item-img {
        height: 300px;
        width: 200px;
    }
}

.not-found {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.not-found img {
    margin-left: 20px;
}

.not-found h5 {
  letter-spacing: 1.5px;
  margin-left: 25px;
  font-weight: 400;
}

.loadr {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
  }
  .loadr::after {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 15px solid #2F80ED;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.4s ease-in-out infinite alternate;
  }
  .loadr::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 24px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes animMarker {
    0% {
      transform: rotate(45deg) translate(5px, 5px);
    }
    100% {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
  
  @keyframes animShadow {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
      