
.tinder-info h4 {
 color: white;
 text-transform: capitalize;
 font-weight: 600;
 display: flex;
 gap:4%

}

.tinder-info p {
    font-weight: 300;
    color: white;
}

.tinder-info{ 
    margin-top: -65px ;
    color: white;
}

.tinder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tinder-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;

}