h4 {
    color: #414141;
    letter-spacing: 1.5px;
    margin-left: 20px;    
}

.row img {
    border-radius: 5px;
    
}
.petName {
    text-transform: capitalize;
    margin-top: -50px;
    color: white;
    margin-left: 25px;
    
}


.del {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    gap: 4%;
    margin-top: 45px;
    margin-left: 13px;
    
    
}
