
.petName {
    text-transform: capitalize;
    margin-top: -60px;
    color: white;
    letter-spacing: 1.5px;
    font-weight: bolder;
    font-size: 30px;
}

.pets-title {
    letter-spacing: 1.5px;
    font-weight: 400;
}

.created-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.created-first img{
    border-radius: 5px;
}

.created-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10%;
}

.created-buttons img {
    margin-top: -130px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.loader {
    width: 48px;
    height: 48px;
    border:10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
  }
  .loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-10px;
    border-radius: 50%;
    border:10px solid #2F80ED;
    animation: prixClipFix 2s infinite linear;
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
    