.list-user {
    padding: 0px 10px;
}

.link-unstyled {
    text-decoration: none;
    
}

.like-name h5{
    color: black;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 12px;
}

.like {
    margin: -5px 10px;
}

.chat-user {
    padding: 0px 20px;
    color: black;
    
}

.chat-user h6 {
    margin: -5px 10px;
  
}

.dislke-pet {
    margin-top: -65px;
    margin-left: 75px;
}

.new-matches {
    margin-left: 20px;
}

.matches-img {
    border-radius: 5px;
}

.users-list { 
    display: flex;
}

.users-list h6 { 
    margin: 15px 15px;
}

.chat-w {
    margin-top: -50px;
    margin-left: 85px;
    margin-bottom: 25px;
}

.load {
    width: 48px;
    height: 48px;
    border: 5px solid #eae1e1;
    border-bottom-color: #2F80ED;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 50px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 