.list-user {
    padding: 0px 10px;
}

.link-unstyled {
    text-decoration: none;
    
}

.like-name h5{
    color: black;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 12px;
}

.like {
    margin: -5px 10px;
}

.chat-user {
    padding: 0px 20px;
    color: black;
    
}

.chat-user h6 {
    margin: -5px 10px;
  
}

.dislke-pet {
    margin-top: -65px;
    margin-left: 75px;
}

.new-matches {
    margin-left: 20px;
}

.matches-img {
    border-radius: 5px;
}

.users-list { 
    display: flex;
}

.users-list h6 { 
    margin: 15px 15px;
}

.chat-w {
    margin-top: -50px;
    margin-left: 85px;
    margin-bottom: 25px;
}

.no-matches {
    margin-left: 25px;
}

.container-likes {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin-left: 20px;
  
}

.container-card {
    flex-shrink: 0;
    width: 120px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}