.detail {
    
    flex-direction: column;
}

.detail-img button {
    margin-top: -137px;
    margin-left: 300px;
    border-radius: 100%;

}

.detail h1 {
    color: #f8f9fa;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: -90px;
    letter-spacing: 2px;
    font-size: 35px;
    text-align: center;

}

.extra {
    margin-top: -75px;
    margin-left: 290px;
}


.detail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.detail-info p {
    background-color: #d6b3d687;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: 500;
}
 
.detail-back {
    display: flex;
    align-items: center;
    justify-content: center;
}