.detail {
    display: flex;
    flex-direction: column;
}

.detail-img button {
    margin-top: -137px;
    margin-left: 300px;
    border-radius: 100%;

}

.detail h1 {
    color: #f8f9fa;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: -120px;
    letter-spacing: 2px;
    font-size: 35px;

}

.detail span {
    display: flex;
    flex-direction: row;
    gap: 7%;
    font-size: 32px;
    font-weight: 200;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
 }

 