.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info  {
    margin-top: 10px;
    font-size: 40px;
    letter-spacing: 2px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}


.other-info { 
    display: flex;
    gap:6%
}

.logout button{
    letter-spacing: 2px;
}

.arrow-pr {
    margin-left: 20px;
}

.prof {
    margin-left:55px ;
}