.dashbord {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    position:sticky ;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color:#fcfcfc;
}